# Binary/Package Files #
bin
target
*.class
*.jar
*.war
*.ear
# Eclipse #
.metadata
.settings
.classpath
.project
# IntelliJ #
.idea
*.iml
# Configuration never packaged
log4j*.properties
log4j*.xml
#
src/main/resources/*.properties
src/main/resources/*.crt
src/main/resources/*.key
src/main/resources/bouncer.conf
